doctype 5
html
  head
    link(href='css/bootstrap.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    .container
      .row
        .span9
          #graph
        .span3.buttons
          .row
            .span3
              button#scaleBtn.btn.btn-small.btn-primary linear scale
          .row
            .span3
              p search name
              input#nameSearch(type='text')
    #label meno hraca

    script(src='js/jquery.js')
    script(src='js/EventEmitter.js')
    script(src='js/bootstrap.js')
    script(src='js/underscore.js')
    script(src='js/d3.js')
    script(src='js/app.js')
